$screen-max-width: 1400px;
$screen-padding-x: 2rem;
$header-height: 4rem;

.layout {
  position: relative;

  &__toolbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: $header-height;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  &__toolbarInner {
    width: 100%;
    max-width: $screen-max-width;
    margin: 0 auto;
    padding: 0 $screen-padding-x;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__main {
    position: relative;
    top: $header-height;
    max-width: $screen-max-width;
    margin: 0 auto;
    padding: 1.25rem calc($screen-padding-x);
  }
}
