<div class="layout">
  <!-- header -->
  <mat-toolbar class="layout__toolbar">
    <div class="layout__toolbarInner">
      <!-- title -->
      <span>Camera Feed</span>

      <!-- logout -->
      <div class="layout__toolbarActions">
        <span class="layout__toolbarName">{{ name }}</span>

        <button mat-icon-button (click)="signOutClick()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <!-- router -->
  <main class="layout__main">
    <router-outlet />
  </main>
</div>
