$width: 1100px;
$padding-x: 2rem;

.layout {
  &__toolbarInner {
    width: 100%;
    max-width: $width;
    margin: 0 auto;
    padding: 0 $padding-x;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__main {
    max-width: $width;
    margin: 0 auto;
    padding: 1.25rem calc($padding-x + 1rem);
  }
}
