.signIn {
  display: flex;
  justify-content: center;
  padding-top: 6rem;

  &__card {
    width: 100%;
    max-width: 450px;
    margin: 0 1rem;
    padding: 1rem 0.5rem;
  }

  &__header {
    justify-content: center;
    margin-bottom: 1rem;
  }
}
